___
### **<span style="color:red">SORTING DATA</span>**

* ROWS IN RELATIONAL DATABASES ARE NOT MAINTAINED IN ANY ORDER
* WE CAN SORT DATA EITHER ASCENDING OR DESCENDING BY COLUMN

\
<span style="color:red">ORDER BY</span>

```sql
SELECT *
FROM CUSTOMERS
ORDER BY <column> [ASC/DESC];
```
___

#### <span style="color:red">Examples:</span>

DB: Employees

\
Table: employees

\
<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY first_name ASC; -- returns data, sorted by first_name (A-Z)
```

\
<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY first_name DESC; -- returns data, sorted by first_name (Z-A)
```

\
<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY first_name, last_name ASC; -- returns data, sorted by first_name (A-Z) and last_name (A-Z)
```
>Note: ASC is the default order.

\
<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY first_name DESC, last_name ASC; -- returns data, sorted by first_name (Z-A) and last_name (A-Z)
```

\
We can also use expressions with ORDER BY...

<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY LENGTH(first_name); -- returns data, sorted by the length of the first_name (shortest to longest)
```

\
<span style="color:red">Query: </span>

```sql
SELECT *
FROM customers
ORDER BY LENGTH(first_name) DESC; -- returns data, sorted by the length of the first_name (longest to shortest)
```

___
___
#### <span style="color:lightgreen">Exercise Sorting Data</span>
___
___

<span style="color:lightgreen">EXERCISE 1:</span>

DB: Employees

Table: employees

Question: Sort employees by first name ascending and last name descending

\
<span style="color:lightgreen">ANSWER:</span>

```sql
SELECT *
FROM employees
ORDER BY first_name ASC, last_name DESC;
```
___

<span style="color:lightgreen">EXERCISE 2:</span>

DB: Employees

Table: employees

Question: Sort employees by age.

\
<span style="color:lightgreen">ANSWER:</span>

```sql
SELECT EXTRACT(YEAR FROM AGE(birth_date)) AS age, * 
FROM employees
ORDER BY age;
```

\
<span style="color:lightgreen">SOLUTION:</span>

```sql
SELECT * 
FROM employees
ORDER BY birth_date;
```
___

<span style="color:lightgreen">EXERCISE 3:</span>

DB: Employees

Table: employees

Question: Sort employees who's name starts with a "k" by hire_date

\
<span style="color:lightgreen">ANSWER:</span>

```sql
SELECT *
FROM employees
WHERE first_name LIKE 'K%'
ORDER BY hire_date;
```
___